# Example powerman.conf file - see powerman.conf(1)

# Uncomment to enable TCP wrappers
#tcpwrappers yes

# Uncomment to listen on all ports (default is 127.0.0.1:10101)
#listen "0.0.0.0:10101"

# Include device specifications for power controllers
#include "/etc/powerman/apc7900.dev"
#include "/etc/powerman/apc.dev"
#include "/etc/powerman/apcnew.dev"
#include "/etc/powerman/apcold.dev"
#include "/etc/powerman/apcpdu3.dev"
#include "/etc/powerman/apcpdu.dev"
#include "/etc/powerman/bashfun.dev"
#include "/etc/powerman/baytech.dev"
#include "/etc/powerman/baytech-rpc28-nc.dev"
#include "/etc/powerman/baytech-rpc3-nc.dev"
#include "/etc/powerman/cb-7050.dev"
#include "/etc/powerman/cyclades-pm10.dev"
#include "/etc/powerman/cyclades-pm20.dev"
#include "/etc/powerman/cyclades-pm42.dev"
#include "/etc/powerman/cyclades-pm8.dev"
#include "/etc/powerman/dli.dev"
#include "/etc/powerman/hp3488.dev"
#include "/etc/powerman/hpilo.dev"
#include "/etc/powerman/hpmpblade.dev"
#include "/etc/powerman/hpmpcell.dev"
#include "/etc/powerman/hpmp.dev"
#include "/etc/powerman/hpmpdome.dev"
#include "/etc/powerman/ibmbladecenter.dev"
#include "/etc/powerman/icebox3.dev"
#include "/etc/powerman/icebox.dev"
#include "/etc/powerman/ics8064.dev"
#include "/etc/powerman/ilom.dev"
#include "/etc/powerman/ipmi.dev"
#include "/etc/powerman/ipmipower.dev"
#include "/etc/powerman/lom.dev"
#include "/etc/powerman/phantom.dev"
#include "/etc/powerman/plmpower.dev"
#include "/etc/powerman/powerman.dev"
#include "/etc/powerman/swpdu.dev"
#include "/etc/powerman/wti.dev"
#include "/etc/powerman/wti-rps10.dev"

# Define devices (instances of power controllers)
# - Network-attached devices use the form:
#     device "name" "type" "host:port"
# - Serial-attached devices use the form
#     device "name" "type" "special file" "flags"
#   where "flags" specifies baud and parms such as "9600,8n1"
# - Devices that are accessed via coprocesses use the form
#     device "name" "type" "executable-path [args...] |&"
# - The "name" field should be unique, and will be referenced in node defs.
# - The "type" field should match the quoted string at the beginning of
#   the device specification.

#device "b1" "baytech-rpc28-nc" "cyclades1:7032"
#device "b2" "baytech-rpc28-nc" "cyclades1:7016"
#device "b3" "baytech-rpc28-nc" "/usr/bin/conman -j -Q b3 |&"
#device "b4" "baytech-rpc3-nc"  "baytech4:23"
#device "lpc" "dli" "/usr/sbin/httppower -u http://192.168.0.100 |&"
#device "plm" "plmpower" "/usr/sbin/plmpower -d /dev/ttyS1 |&"
#device "wti1" "wti-rps10" "/dev/ttyS0" "9600,8n1"
#device "wti2" "wti-rps10" "/dev/ttyS2" "9600,8n1"
#device "ipmi1" "ipmipower" "/usr/sbin/ipmipower --wait-until-on --wait-until-off -h py[0-10] |&"

# Define nodes (the entities you turn on and off with powerman)
# - The longhand form is one line per node like this:
#     node "node" "device" "plug"
#   where "node" is the name you will use to refer to the node,
#   "device" refers to the name you assigned above to the device the 
#   node is plugged into, and "plug" is the (device specific) plug identifier 
#   defined in the "plug name" portion of the device specification or
#   otherwise following the pattern expected by that device.
# - It is possible to use hostranges to map ranges of nodes to ranges
#   of plugs as follows:
#     node "noderange" "device" "plugrange"
# - And if you just want to assign all the plugs in order, you can drop
#   the plug range:
#     node "noderange" "device"

#node "t1" "b1" "4"    # first four plugs of 'b1' wired backwards
#node "t2" "b1" "3"
#node "t3" "b1" "2"
#node "t4" "b1" "1"
#node "t[5-20]" "b1" "[5-20]"
#node "t[21-40]" "b2"
#node "t[41-60]" "b3"

#node "x[1-8]" "lpc"

#node "y[0-10]" "ipmi1" "py[0-10]"

#node "porchlight" "plm" "A4.02.B3"
#node "kitchen"    "plm" "A4.97.44"
#node "lamp"       "plm" "G13"

# Aliases can be used to make new names for plugs, or to have one name
# refer to redundant power supplies.
#node "jimmy-ps1" "wti1" "7"
#node "jimmy-ps2" "wti2" "7"
#alias "jimmy" "jimmy-ps[1-2]"
